@import "vars"

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px)
	/**/
	.about__description-wrapper, .promo-text--top
		width: 100%
	.promo-text--middle
		ul
			width: 100%
	.promo-text--middle 
		ul 
			li
				font-size: 21px
				padding-left: 50px
				&:nth-child(n+2)
					padding-left: 59px
			span
				font-size: 48px
			strong
				font-size: 18px
		p
			width: 100%
	.promo-text--bottom
		p
			padding-left: 26px
@media only screen and (max-width : 1199px)
	/**/
	input
		height: 45px
		font-size: 15px
		padding-left: 10px
		padding-right: 10px
	.top__date
		font-size: 20px
		padding-left: 120px
		span
			font-size: 52px
	.top__description
		font-size: 15px
		margin-left: 64px
	.top__title
		font-size: 59px
		span
			font-size: 23px
	.top__form
		h2
			font-size: 29px
			padding-bottom: 8px
			span
				font-size: 17px
	.btn
		height: 52px
		font-size: 15px
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/
	.logo
		background-size: 259px
		background-position: center left
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		.logo
			background-size: 192px
	.top__date
		width: 235px
		margin: auto
		right: 55px
	.top__description
		margin: auto
	.top__title
		text-align: center
		span
			margin: auto
	.popup__link
		width: 97px
		height: 97px
		margin: auto
		margin-top: 29px
	header
		padding-bottom: 40px
		.top__form
			margin: auto
			margin-top: 30px
	.share__text, .share_links
		width: 100%
		text-align: center

	.about__description-title
		h2
			padding-top: 28px
			padding-bottom: 28px
	.title
		font-size: 31px
	.about__description
		li
			font-size: 17px
			&::before
				font-size: 30px
		&-text
			span
				font-size: 17px

	.for__you
		ul
			li
				flex-flow: column
		>div
			width: 100%
		>div:first-child
			width: 0
	.for__you-text
		padding-left: 0
		h2
			width: 100%
			text-align: center
	.for__you-descr
		font-size: 18px
		width: 100%
		padding-left: 15px
		padding-right: 15px
		text-align: center
	.for__you-img
		width: 152px
	.promo-indus
		display: none
	.promo-text
		width: 100%
	.about__description-text
		flex-flow: column
		width: 100%
		padding-left: 0
		span
			padding-left: 0
			width: 100%
			text-align: center
			padding-top: 15px
	.about__description-title
		.title
			width: 100%
			border-right: none
		div
			display: none
			width: 0
	.promo-text
		padding-left: 15px
		padding-right: 15px
	.about__description-bottom
		.empty-div
			display: none
	.promo-text--bottom
		flex-flow: column
		margin-top: 28px
		p
			width: 100%
			padding-top: 20px
			text-align: center
			padding-left: 0
	.promo-text--middle
		ul
			justify-content: center

/* Small Devices, Tablets */
@media only screen and (max-width : 760px)
	/**/

	.top_info
		flex-flow: column
	.top__title
		font-size: 35px
		span
			width: 100%
			font-size: 17px
	.about__description
		li
			width: 50%
	footer
		.col-md-12
			text-align: center
		a
			float: none
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	form
		width: 100%
		padding-left: 20px
		padding-right: 20px
	.live-online
		flex-flow: column
		border: none
		margin-top: 15px
		label
			width: 100%
			padding-top: 14px
	.about__description
		li
			width: 100%
	.about__description 
		.title 
			span
				width: 100%
	.logo
		width: 100%

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1230px)
	/**/
	.container
		width: 1230px
