@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #839fb1
	opacity: 1

*:-moz-placeholder
	color: #839fb1
	opacity: 1

*::-moz-placeholder
	color: #839fb1
	opacity: 1

*:-ms-input-placeholder
	color: #839fb1
	opacity: 1
::-moz-selection
	color: $accent
::selection
	color: $accent
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #839fb1
body input:required:valid,
body textarea:required:valid
	color: #839fb1

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $regular
	overflow-x: hidden
	opacity: 1
ul
	padding: 0
	margin: 0
	list-style: none
strong
	font-family: $bold
a, a:hover, a:active, a:focus
	text-decoration: none
	color: $accent2
a, input, textarea, select, button
	outline: none !important
input
	width: 100%
	height: 60px
	background-color: #e8ebec
	font-size: 18px
	color: #839fb1
	border: none
	padding-left: 23px
	padding-right: 23px
input[type="radio"], input[type="checkbox"]
	display: none
form
	width: 435px
	position: relative
	padding-top: 41px
	padding-left: 58px
	padding-right: 58px
	padding-bottom: 41px
	z-index: 1
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		background-color: #2c4c65
		opacity: .3
		z-index: -1

.btn
	display: block
	width: 100%
	height: 63px
	background-color: $accent
	font-size: 18px
	font-family: $bold
	color: #fff
	text-transform: uppercase
	transition: $transition
	&:hover
		background-color: #fff602
		color: #2f1042
		transition: $transition
		border-bottom: 6px solid #8f6d1d
	&:active
		border-bottom: none
		transition: $transition
		background-color: #e2da04
header
	padding-top: 33px
	background-image: url("../img/main-bg.jpg")
	background-repeat: no-repeat
	background-position: top center
	background-size: cover
	background-attachment: fixed
	padding-bottom: 80px
.logo
	display: block
	width: 350px
	height: 65px
	background-repeat: no-repeat
	background-position: center
.top_info
	font-size: 18px
	color: $accent2
	display: flex
	flex-wrap: wrap
	li
		position: relative
		padding-left: 30px
		line-height: 1.3
		width: 50%
		padding-bottom: 17px
		&::before
			content: ''
			position: absolute
			width: 22px
			height: 22px
			top: 0
			left: 0
			background-image: url("../img/sprite.png")
			background-position: -84px -4px
			background-repeat: no-repeat
		&:nth-child(2)
			text-decoration: underline
			&::before
				background-position: -117px -3px
		&:nth-child(3)
			font-size: 16px
			width: 100%
			&::before
				background-position: -153px -3px
			span
				font-family: $bold
				color: $accent
				font-size: 18px
.top__date, .top__description
	color: $accent2
	margin: 0
	
.top__date
	font-size: 30px
	text-transform: uppercase
	line-height: 1.2
	padding-left: 145px
	position: relative
	span
		position: absolute
		font-family: $bold
		font-size: 83px
		left: 56px
		top: 50%
		transform: translateY(-50%)
	strong
		font-size: 26px
		display: block
.top__description
	font-size: 18px
	font-family: $bold
	text-transform: uppercase
	margin-left: 72px
	width: 215px
.top__title
	font-size: 109px
	font-family: $bold
	font-weight: 800
	margin: 0
	line-height: 1
	text-transform: uppercase
	color: $accent
	margin-top: 30px
	span
		font-size: 44px
		display: block
		font-family: $regular
		width: 350px
.popup__link
	display: block
	width: 117px
	height: 117px
	background-color: $accent
	border-radius: 10em
	margin-left: 72px
	margin-top: 29px
	position: relative
	transition: $transition
	&::before
		content: ''
		position: absolute
		width: 51px
		height: 60px
		top: 50%
		transform: translateY(-50%)
		left: 0
		right: 0
		margin: auto
		background-image: url("../img/sprite.png")
		background-repeat: no-repeat
		background-position: -82px -54px
	&:hover
		background-color: $accent2
		transition: $transition
.top__form
	h2
		font-weight: 600
		text-transform: uppercase
		color: #fff
		line-height: 1
		font-size: 41px
		text-align: center
		margin: 0
		padding-bottom: 23px
		span
			display: block
			text-transform: none
			font-size: 22px
	&-checkbox
		padding-top: 10px
		padding-bottom: 10px
		label
			position: relative
			display: block
			text-transform: uppercase
			padding-left: 66px
			font-size: 12px
			color: #fff
			cursor: pointer
			user-select: none
			&::before
				content: ''
				position: absolute
				width: 30px
				height: 30px
				border: 1px solid #fff
				left: 24px	
				top: 50%	
				transform: translateY(-50%)
			span				
				&::after
					content: ''
					position: absolute
					width: 38px
					height: 42px
					left: 28px	
					top: 50%	
					transform: translateY(-50%)			
					background-repeat: no-repeat
					background-position: -188px -86px
					z-index: 2
			&::after
				content: ''
				position: absolute
				background-color: #fff
				width: 22px
				height: 22px
				left: 28px	
				top: 50%	
				transform: translateY(-50%)	
		input[type="checkbox"]:checked + label > span::after
			background-image: url("../img/sprite.png")
	&-text
		font-weight: 600
		font-size: 14px
		color: #fff
		text-transform: uppercase	
		text-align: center
		margin-bottom: 0
.live-online
	display: flex
	border-radius: 10em
	border: 1px solid #fff
	padding: 3px
	margin-top: 29px
	label
		width: 50%
		cursor: pointer
		color: #fff
		text-transform: uppercase
		font-weight: 600
		font-size: 12px
		padding-left: 62px
		position: relative
		z-index: 1
		border-radius: 10em
		transition: $transition
		user-select: none
		line-height: 1.2
		height: 42px
		padding-top: 8px
		&::before
			content: ''
			position: absolute
			width: 41px
			height: 31px
			left: 14px
			top: 50%
			transform: translateY(-50%)
			background-image: url("../img/sprite.png")
			background-repeat: no-repeat
			background-position: -26px -32px
			opacity: 0
			transition: $transition
		&:nth-of-type(2)
			&::before
				background-position: -132px -26px
	input[type="radio"]:checked + label
		background-color: #fff
		color: #839fb1
		transition: $transition
		&::before
			opacity: 1
			transition: $transition
.share__text
	font-size: 12px
	color: #426176
	text-transform: uppercase
	text-align: center
	margin-bottom: 4px
	width: 435px
.share_links
	display: flex
	width: 435px
	justify-content: center
	li
		padding-left: 6px
		padding-right: 6px
	a
		display: block
		width: 30px
		height: 30px
		background-image: url("../img/sprite.png")
		background-repeat: no-repeat
		background-position: -16px -93px
	li:nth-child(2)
		a
			background-position: -19px -139px
	li:nth-child(3)
		a
			background-position: -151px -132px
	li:nth-child(4)
		a
			background-position: -71px -137px
	li:nth-child(5)
		a
			background-position: -110px -119px



.title
	font-size: 48px
	font-weight: 600
	color: $accent
	line-height: 1
.about__description
	background-color: #fefdfe
	overflow: hidden		
	&-wrapper		
		width: 1231px
		margin-left: 15px
		margin-right: 15px
		margin: auto
		border-right: 1px solid #d2cad5
	&-title
		border-left: 1px solid #d2cad5
		border-bottom: 1px solid #d2cad5
		position: relative
		display: flex
		h2
			width: 74%
			border-right: 1px solid #d2cad5
			margin: 0
			padding-top: 96px
			padding-bottom: 96px		
		div
			width: 37.2%	
			background-color: #fbf9fc
			&::after
				content: ''
				position: absolute
				bottom: 0
				right: -100%
				height: 1px
				width: 100%
				background-color: #d2cad5
	.title
		background-color: #fff
		padding-left: 67px
		span
			width: 394px
			display: inline-block
	ol
		counter-reset: item
		list-style-type: none
		padding: 0
		margin: 0
		display: flex
		flex-wrap: wrap
	li
		display: block
		width: 33.333%
		padding-left: 58px
		padding-right: 53px
		font-size: 24px
		color: $accent
		line-height: 1.2
		padding-top: 55px
		padding-bottom: 20px
		background-color: #fbf9fc
		border: 1px solid #d2cad5
		border-right: none
		border-top: none
		&::before
			content: counter(item, decimal-leading-zero) ''
			counter-increment: item
			color: $accent2
			font-family: $bold
			font-size: 48px
			display: block
			padding-bottom: 5px
		&:nth-child(4n), &:nth-child(4n-1)
			background-color: #fff
	&-bottom
		display: flex
	&-text
		width: 74%
		padding-left: 61px
		display: flex
		align-items: center
		border-left: 1px solid #d2cad5
		border-right: 1px solid #d2cad5
		padding-top: 34px
		padding-bottom: 34px
		a
			width: 306px
			display: flex
			justify-content: center
			align-items: center
		span
			color: $accent2
			font-size: 18px
			text-transform: uppercase
			display: inline-block
			width: 281px
			line-height: 1.2
			padding-left: 35px
	.empty-div	
		width: 37.2%




.for__you
	background-image: url("../img/bg2.jpg")
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	display: flex
	>div
		width: 50%
		position: relative
		z-index: 1
	>div:nth-child(2)
		padding-bottom: 33px
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			background-color: #98abba
			opacity: .8
			z-index: -1
	&-text
		padding-left: 42px
		h2
			color: #fff
			width: 372px
	&-img
		width: 127px
		height: 127px
		background-image: url("../img/sprite_an.png")
		background-repeat: no-repeat
		background-position: -4px -7px
	&-descr
		font-size: 24px
		color: #fff
		padding-left: 38px
		width: 320px
		line-height: 1.2
	ul
		li
			padding-bottom: 18px
			display: flex
			align-items: center
		li:nth-child(2)
			.for__you-img
				background-position: -4px -155px
		li:nth-child(3)
			.for__you-img
				background-position: -6px -307px
.promo
	display: flex
	line-height: 1.1
	&-indus
		width: 33%
		background-color: #dfdbe6
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: 0
			right: 18px
			width: 190px
			height: 365px
			background-image: url("../img/indusyi.png")
			background-size: 100%
			background-repeat: no-repeat
		&::after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background-color: #a186be
			opacity: .35
	&-text
		width: 67%
		background-color: #f3ebf5
		padding-left: 40px
		&--top
			color: $accent
			font-size: 28px
			width: 788px
			h2
				margin-top: 46px
				margin-bottom: 20px
			p
				margin: 0
		&--middle
			padding-top: 23px
			p
				font-size: 18px
				width: 653px
				color: $accent
			ul
				width: 806px
				border-top: 1px solid $accent2
				display: flex
				flex-wrap: wrap
				li
					position: relative
					padding-left: 74px
					padding-right: 33px
					color: $accent2
					text-transform: uppercase
					font-size: 30px
					margin-top: 30px
					&:nth-child(n+2)
						padding-left: 92px
				span
					position: absolute
					font-family: $bold
					font-size: 83px
					left: 0
					top: 50%
					transform: translateY(-50%)
				strong
					font-size: 26px
					display: block
		&--bottom
			margin-top: 50px
			display: flex
			align-items: center
			padding-bottom: 33px
			a
				width: 272px
				background-color: transparent
				border: 1px solid $accent
				color: $accent
				display: flex
				align-items: center
				justify-content: center
				&:hover
					border: 1px solid $accent
					background-color: $accent
					color: #fff
			p
				color: $accent
				width: 402px
				margin: 0
				padding-left: 52px
footer
	background-color: $accent
	color: #fff
	padding-top: 25px
	padding-bottom: 25px
	a
		color: #fff !important
		text-decoration: underline
		float: right
		&:hover
			text-decoration: none


#popup__form, #map
	display: none



//FOR RETINA DISPLAYS
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	.logo
		background-image: url("../img/logo_@2x.png") !important	
	.live-online 
		label::before
			background-image: url("../img/sprite_@2x.png")
			background-size: 562%
	.top__form
		input[type="checkbox"]:checked + label > span::after
			background-image: url("../img/sprite_@2x.png")
			background-size: 590%
	.for__you-img
		background-image: url("../img/sprite_an_@2x.png")
		background-size: 92%
@import "media" 
